build-QML_Demo-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/
build-QML_CheckBox-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/
build-QML_DragDrop_Demo-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/
build-QML_PopMenu-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/
build-QML_AppWin-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/
QML_TabView/build-QML_TabView-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/
QML_DicomViewer/build-QML_DicomViewer-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/
QML_ListView/build-QML_ListView-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/
build-QML_Demo-Desktop_Qt_5_13_1_MSVC2017_64bit-Debug/
QML_DicomViewer/build-QML_DicomViewer-Desktop_Qt_5_13_1_MinGW_64_bit-Debug/
QML_DicomViewer/QML_DicomViewer/QML_DicomViewer.qbs.user.43e2297.4.10-pre1
QML_Demo/QML_Demo.pro.user.43e2297.4.10-pre1
